<h1>Listing Users</h1>

<table class="highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Go!</th>
        </tr>
    </thead>
    <tbody>
        <%= for user <- @users do %>
        <tr>
            <td><%= render "user.html", user: user %> </td>
            <td><%= link "View", to: Routes.user_path(@conn, :show, user.id) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
